html {
    background-color: rgb(249, 249, 249);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* CSS by Karan Saraswat */

.button-add {
    background-color: rgb(179, 64, 64);
    color: white;
    border: rgb(179, 64, 64) 1px solid;
    /* border: none; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    padding: 7px 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button-add-disabled {
    background-color: rgb(179, 64, 64);
    color: white;
    border: rgb(179, 64, 64) 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    padding: 7px 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: not-allowed;
}

.button-subtract {
    background-color: white;
    color: rgb(179, 64, 64);
    border: rgb(179, 64, 64) 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    padding: 7px 17px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-add:hover {
    opacity: 0.9;
}

.button-subtract:hover {
    background-color: rgb(248, 233, 233);
}

.input-custom {
    line-height: 1rem;
    text-align: center;
    padding: 10px 0 7.75px;
    border-top: rgb(179, 64, 64) 1px solid;
    border-bottom: rgb(179, 64, 64) 1px solid;
    border-left: none;
    border-right: none;
    width: 60px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(248, 233, 233);
    color: rgb(179, 64, 64);
    margin: 8px 0;
}

.input-custom:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.intro {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    /* background-color: #fff; */
}

.border-custom {
    border: rgb(179, 64, 64) 1px solid !important;
    width: 100px !important;
    border-radius: 5px;
}

.custom-padding {
    padding-left: 37px !important;
}

.plzWait {
    margin: auto;
    position: fixed;
    top: 47%;
    left: 48%;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(179, 64, 64) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-box {
    width: 220px;
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 4px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    background-color: #fff;
}

.margin-top--48 {
    margin-top: 48px;
}

.preloader-custom {
    transform: scale(0.25);
    height: 20px !important;
    width: 25px !important;
}

.saving {
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding-left: 30px;
    color: black;
    text-align: left !important;
    height: 22.4px !important;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    padding-bottom: 1.5%;
}
